* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: #111111;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  gap: 5px;
  padding: 5px;
}
.box {
  width: 15px;
  height: 15px;
  background-color: #1d1d1d;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}